USE [master]
GO
/****** Object:  Database [projetobd]    Script Date: 19/08/2013 17:29:26 ******/
CREATE DATABASE [projetobd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projetobd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\projetobd.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'projetobd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\projetobd_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projetobd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projetobd]
GO
/****** Object:  Table [dbo].[Disciplina]    Script Date: 19/08/2013 17:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Disciplina](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Professor] [varchar](14) NOT NULL,
	[Descricao] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Disciplina] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pergunta]    Script Date: 19/08/2013 17:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pergunta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Pergunta] [varchar](500) NOT NULL,
	[Resposta] [varchar](500) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Disciplina] [int] NOT NULL,
	[Alternativa] [varchar](3) NOT NULL,
 CONSTRAINT [PK_Pergunta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Professor]    Script Date: 19/08/2013 17:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Professor](
	[Nome] [varchar](100) NOT NULL,
	[Sobrenome] [varchar](100) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[DataNasci] [date] NOT NULL,
	[RG] [varchar](10) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[senha] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Professor] PRIMARY KEY CLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Disciplina]  WITH CHECK ADD  CONSTRAINT [FK_Disciplina_Disciplina] FOREIGN KEY([Professor])
REFERENCES [dbo].[Professor] ([CPF])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Disciplina] CHECK CONSTRAINT [FK_Disciplina_Disciplina]
GO
ALTER TABLE [dbo].[Pergunta]  WITH CHECK ADD  CONSTRAINT [FK_Pergunta_Disciplina1] FOREIGN KEY([Disciplina])
REFERENCES [dbo].[Disciplina] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pergunta] CHECK CONSTRAINT [FK_Pergunta_Disciplina1]
GO
USE [master]
GO
